@model WebBanHang.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
<h4 class="text-success">User Details &nbsp;<a asp-area="Admin" asp-controller="User" asp-action="Edit" class="btn btn-primary" asp-route-id="@UserManager.GetUserId(User)">Change Info</a></h4>


<div style="height:100px; background-color:aliceblue" class="container border">
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-2">
                Full Name
            </div>
            <div class="col-3">
                <input asp-for="@Model.Name" readonly class="form-control" />
            </div>

            <div class="col-2">
                Email
            </div>
            <div class="col-3">
                <input asp-for="@Model.Email" readonly class="form-control" />
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-2">
                Phone Number
            </div>
            <div class="col-3">
                <input asp-for="@Model.PhoneNumber" readonly class="form-control" />
            </div>

            <div class="col-2">
                Address
            </div>
            <div class="col-5">
                <input asp-for="@Model.Address" readonly class="form-control" />
            </div>


        </div>
    </div>
</div>